html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  background-color: white;
  color: white;
}

.mobile-nav {
  display: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-color: black;
}

.header .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem 0.5rem;

}

.header img {
  padding-right: 1rem;
  padding-left: 0.5rem;
  height: 1.5rem;
}

h3 {
  font-weight: bold;
  padding-top: 2rem;
  padding-left: 3rem;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-bottom: 2rem;
  padding-top: 0.25rem;
}

.banner {
  background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;

}

.banner .box {
  background-color: black;
  width:20rem;
  position: relative;
  top: 9rem;
}

nav {
  background-color: firebrick;
  color: white;
}


nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0rem;
}


.smallbox {
  width: 30%

}

.boxes,
.business-info  {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.smallboximg {
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: 9rem;
}

.smallbox img {
  max-width: 8rem;

}

.smallbox span {
  display: block;
  padding: 0.5rem 0;
  background-color: black;
  text-align: center;
}

.blackstrip {
  width: 35%;
  margin-top: 3rem;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.blackbackground {
  padding: 1rem 0 1rem 2rem;
}

.whitebackground {
  background-color: white;
  padding-bottom: 4rem;
  color: black;
}

.footer {
  background-color: black;
  height: 5rem;
  width: 100%;

}

.footermaterial {
  padding-top:2.3rem;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;

  }

  .mobile-nav {
    display: block;
    text-align: center;
  }

  .smallbox {
    width: 47%
  }

  .smallbox.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .banner {
    height: 15rem;
  }

  .banner .box {
    top: 7rem;
    position: relative;
    width: 100%;
    padding: 1rem 2rem;
  }
  h1 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.77rem;
  }

  .smallbox.watch {
    display: none;
  }
  .smallbox {
    width: 90%;
  }


  .business-info,
  .boxes {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .blackstrip {
    width: 90%;
  }

  .footer {
    text-align: center;
  }

}
