html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  background-color: black;
  color: seashell;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {

}

.header .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem 0.5rem;

}

.header img {
  padding-right: 1 rem;
  height: 1.5rem;
}

h3 {
  font-weight: bold;
  padding-top: 2rem;
  padding-left: 3rem;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

.banner {
  background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;

}

.banner .container {
  background-color: black;
  width:20rem;
  position: relative;
  top: 9rem;
}
